@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0f1d;
  min-height: 100vh;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
